<div class="mx--auto lg--up--four-eighths ">
  <div class="">
    <div class="mt3 lg--up--mt0">
      <h1 class="{{ global__heading_font_size }} m0">{{ page.title }}</h1>
      <div class="rte {{ global__basic_font_size }}">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
