{%- include 'global-variables' -%}

{% if page.title == "The Custom Process" %}
    <div class="page-custom max-site-width px2 lg--up--px3" style="text-align:center">
        <div class="header-block">
            <h1>The Custom Process</h1>
            <h3>5 steps to magic .... </h3>
        </div>
    </div>
    {% section 'hj-custom-cascade' %}
    <div class="page-custom max-site-width px2 lg--up--px3" style="text-align:center">
        <div class="contact-block">
            <h3>See something that you like?? Click to learn more</h3>
            <h3>More text goes here</h3>
        </div>
    </div>
{% elsif page.title == "What is Custom? Test" %}
<section class="page {{ global__section_with_padding_class }}">
  <div class="max-site-width px2 lg--up--px3">
    {% include 'hj-page-template' %}
  </div>
</section>
{% else %}
    {% section 'page-template' %}
{% endif %}
